@charset "UTF-8";
/* Hoja SASS de Estilos - Proyecto Final Desarrollo Web 
CoderHouse - Alumno: Martin Dhuicque 2024
*/
/** -- ACA VA EL CSS BASE DEL PROYECTO --
-Resetos
-Listas
-Variables tipo Fuente - Color - Tamaños Etc

**/
/* Reseteo de Estilos */
*,
p {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
}

i {
  font-style: normal;
}

ul {
  list-style-type: none;
  /* Quita el punto de la lista desordenada */
}

h1 {
  font-size: 40px;
  color: var(--color-principal);
  font-weight: 700;
}

h2 {
  font-size: 32px;
  color: var(--color-principal);
  font-weight: 700;
}

h3 {
  font-size: 22px;
  color: var(--color-principal);
  font-weight: 600;
}

:root {
  --color-principal: #2b2b2b;
  --color-secundario: #0095ff;
  --color-blanco: #fff;
  --color-gris: #fafafa;
  --color-cta: #ffbb00;
  --color-facebook: #1877f2;
  --color-linkedin: #0077b5;
  --color-youtube: #FF0000;
  --font-size-general: 18px;
  --font-size-subgeneral: 16px;
}

/* Estilos Generales */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-principal);
}

a {
  text-decoration: none;
}

header {
  background: #f8f8f8;
}

.titulos-paginash1 {
  color: var(--color-secundario);
}

header .logo-nav {
  width: 70px;
  height: 70px;
}

header nav ul :hover {
  text-decoration: underline;
}

header nav ul li {
  padding: 0.6rem;
}

/* Fin Header */
/* Footer */
footer .container-fluid {
  background: #242424;
}

footer .pie-footer__bg {
  background-color: #333;
}

.footer {
  color: #fff;
  padding: 20px;
  font-size: 14px;
}
.footer a {
  color: #fff;
}
.footer__titulo {
  font-size: 16px;
  color: var(--color-secundario);
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__texto {
  color: #fff;
  font-weight: 400;
}
.footer__nav {
  padding: 0;
  /* Elimina el relleno predeterminado de la lista */
}
.footer__nav ul {
  list-style: none;
  /* Elimina los puntos de la lista */
  margin-bottom: 0px;
}
.footer__nav ul li {
  margin-bottom: 10px;
}

.pie-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.pie-footer a {
  color: #fff;
  font-weight: bold;
}

/* Fin Footer */
/* Fila Superior para Noticias y/o Avisos del Sitio */
.news-row {
  background: #f65050;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

/* FIN Fila Superior para Noticias y/o Avisos del Sitio */
/* Banner Principal: Secciones Index y Cursos*/
.banner-principal {
  display: flex;
  height: 550px;
  flex-wrap: nowrap;
  align-items: center;
}
.banner-principal__caja {
  background-color: rgba(36, 36, 36, 0.8);
  padding: 40px;
  border-radius: 20px;
  max-width: 550px;
}
.banner-principal__titulo {
  color: #fff;
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: bold;
}
.banner-principal__subtitulo {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}
.banner-principal__texto {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
.banner-principal__bg {
  background-image: url(../media/fondo-slide1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f65050;
}
.banner-principal__bg--cursos {
  background-image: url(../media/slider-1.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

/* FIN Banner Principal: Secciones Index y Cursos */
/* Iconos Atributos Destacados*/
.destacados {
  background: #fafafa;
  color: var(--color-principal);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destacados__caja {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--color-principal);
}
.destacados__titulo {
  font-size: 18px;
  font-weight: bold;
}
.destacados__subtitulo {
  font-size: 16px;
}
.destacados__icono,
.destacados .bi::before {
  font-size: 30px;
  color: var(--color-secundario);
}

/* FIN Iconos Atributos Destacados */
/* Estilos Botones Generales */
.btn-secundario--tarjeta, .btn-secundario, .btn-principal--tarjeta, .btn-principal {
  border: 0px;
  padding: 1rem;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
}

.btn-principal {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
}
.btn-principal:hover {
  background-color: #fff;
  color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
}
.btn-principal--tarjeta {
  background-color: var(--color-secundario);
  color: #fff;
  border: 2px solid var(--color-secundario);
  display: inline-block;
}
.btn-principal--tarjeta .bi::before {
  font-size: 20px;
  /* Tamaño de fuente deseado para el ícono */
}
.btn-principal--tarjeta:hover {
  background-color: #fff;
  color: var(--color-secundario);
  border: 2px solid var(--color-secundario);
}

.btn-secundario {
  background-color: #fff;
  color: var(--color-principal);
}
.btn-secundario:hover {
  background-color: #fff;
  color: var(--color-);
  border: 1px solid var(--color-secundario);
}
.btn-secundario--tarjeta {
  background-color: var(--color-principal);
  color: #fff;
  border: 2px solid var(--color-principal);
  display: inline-block;
}

/* FIN Estilos Botones Generales */
/* Inicio CTA Newsletter */
.cta-banner {
  background-color: var(--color-cta);
  padding: 30px;
  display: flex;
  align-items: center;
}

.cta-banner .btn-principal {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.cta-banner__titulo {
  font-weight: 700;
  margin-bottom: 20px;
}

.cta-banner__texto {
  width: 90%;
}

/* ---FIN CTA-Newsletter */
/* Inicio CTA-Formulario */
.cta-leads__form input,
.cta-leads select {
  font-size: var(--font-size-subgeneral);
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  border-color: var(--color-secundario);
  border-radius: 10px;
  color: var(--color-principal);
}
.cta-leads__banner {
  display: grid;
  justify-content: right;
  align-items: center;
  background: linear-gradient(to top, rgba(6, 6, 6, 0.7294117647), rgba(34, 34, 35, 0.8)), url(../media/slider-1.jpg);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 23px;
  text-align: right;
  font-weight: 500;
  color: var(--color-blanco);
}

/* ---FIN CTA-Formulario--- */
.accordion-button {
  background-color: var(--color-gris);
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-secundario);
  color: #fff;
  font-weight: bold;
}

/* Tarjetas Cursos Online */
.tarjeta_curso__img {
  margin-top: 1rem;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.tarjeta_curso__list {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: #fff;
  background-color: #0095ff;
  border-radius: 0px 0px 15px 15px;
  font-size: 15px;
  font-weight: 500;
}
.tarjeta_curso__texto {
  font-size: var(--font-size-subgeneral);
}

/* FIN Tarjetas Cursos Online */
/* Logos Empresas Carousel */
.logo-empresas {
  height: 80px;
}

/* Estilos Contacto */
.contacto-rrss {
  background-color: var(--color-gris);
  border-radius: 10px;
  height: fit-content;
  padding: 30px;
}
.contacto-rrss__texto {
  font-size: var(--font-size-subgeneral);
  margin-bottom: 20px;
}
.contacto-rrss__iconos, .contacto-rrss i {
  font-weight: 600;
}
.contacto-rrss__iconos,
.contacto-rrss .bi::before {
  margin-right: 10px;
  font-size: 23px;
}
.contacto-rrss .bi-facebook::before {
  color: var(--color-facebook);
}
.contacto-rrss .bi-youtube::before {
  color: var(--color-youtube);
}
.contacto-rrss .bi-linkedin::before {
  color: var(--color-linkedin);
}

.contacto-rrss a {
  color: var(--color-principal);
}

input {
  width: 100%;
  font-size: 14px;
  padding: 20px;
}

/* FIN Estilos Contacto */
/* Banner Servicios Index.html */
.servicios {
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.servicios__img {
  width: 100%;
  margin-bottom: 20px;
}
.servicios__nombre {
  font-weight: 700;
  font-size: 20px;
}
.servicios__texto {
  font-size: var(--font-size-general);
  margin-bottom: 50px;
}

/* FIN Banner Servicios Index.html */

/*# sourceMappingURL=styles.css.map */
