/* Hoja styles - Proyecto Desarrollo Web 
CoderHouse Alumno: Martin Dhuicque 2023
*/


/* --El MAIN.SCSS quedara vacio luego de mover los parshalls,
entonces solo quedaran los @import_ de cada parshall para que se cargan aqui

Debe ser en cascada para que se respete el orden de los CSS

EJ : 

1- @import "./base";
2- @import "./components/botones";
3- @import "./components/rowcta";
4- @import "./components/tarjetas";

Luego Pages

@import "./pages/index";
@import "./pages/cursos";

Y asi

/* Reseteo de Estilos */

*,
p {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    /* Quita el punto de la lista desordenada */
}

h1 {
    font-size: 40px;
    color: var(--color-principal);
    font-weight: 700;
}

h2 {
    font-size: 32px;
    color: var(--color-principal);
    font-weight: 700;
}

h3 {
    font-size: 22px;
    color: var(--color-principal);
    font-weight: 600;
}

:root {
    --color-principal: #2b2b2b;
    --color-secundario: #0095ff;
    --color-blanco: #fff;
    --color-gris: #fafafa;
    --color-cta: #ffbb00;
    --font-size-general: 18px;
    --font-size-subgeneral: 16px;

}



/* Estilos Generales */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-principal);
}

a {
    color: #333;
    text-decoration: none;
}


/* Noticias y/o Avisos del Sitio */
.news-row {
    background: #f65050;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

/* -- FIN Noticias y/o Avisos del Sitio */


header {
    background: #f8f8f8;
}


header .logo-nav {
    width: 70px;
    height: 70px;
}

/* header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
} */

header nav ul :hover {
    text-decoration: underline;
}

header nav ul li {
    padding: .6rem;
}

/* Fin Header */

/* Banner Principal  */

.banner-principal {

    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__caja {
        background-color: rgba(36, 36, 36, 0.8);
        padding: 40px;
        border-radius: 20px;
        max-width: 60%;

    }

    &__titulo {
        color: #fff;
        font-size: 35px;
        margin-bottom: 10px;
        font-weight: bold;

    }

    &__subtitulo {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: bold;
    }


    &__texto {
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;

    }

    &__bg {
        background-image: url(../media/fondo-slide1.jpg);
        background-size: contain;
        background-color: #f65050;
    }

    &__bg--cursos {
        background-image: url(../media/slider-1.jpg);
        background-size: cover;
        background-position-y: center
    }


}

/* Fin Banner Principal */



/* Destacados  */
.destacados {
    background: #fafafa;
    color: var(--color-principal);
    text-align: center;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__caja {
        text-align: center;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid var(--color-principal);
    }

    &__titulo {
        font-size: 18px;
        font-weight: bold;
    }

    &__subtitulo {
        font-size: 16px;
    }

    &__icono,
    .bi::before {
        font-size: 30px;
        color: var(--color-secundario);
    }

}

/* Fin Destacados */



/* Banner Servicios */

.servicios {
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 20px;


    &__img {
        width: 100%;
        margin-bottom: 20px;
    }

    &__nombre {
        font-weight: 700;
        font-size: 20px;
    }

    &__texto {
        font-size: var(--font-size-general);
        margin-bottom: 50px;
    }

}

/* Fin Servicios */


/* Estilos Botones */

%btn-template {
    border: 0px;
    padding: 1rem;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    margin-top: 1rem;
}

.btn-principal {
    @extend %btn-template;
    background-color: var(--color-secundario);
    color: var(--color-blanco);

    &:hover {
        background-color: #fff;
        color: var(--color-secundario);
        border: 1px solid var(--color-secundario);
    }

    &--tarjeta {
        @extend %btn-template;
        background-color: var(--color-secundario);
        color: #fff;
        border: 2px solid var(--color-secundario);
        display: inline-block;
    }

    &--tarjeta .bi::before {
        font-size: 20px;
        /* Tamaño de fuente deseado para el ícono */
    }

    &--tarjeta:hover {
        background-color: #fff;
        color: var(--color-secundario);
        border: 2px solid var(--color-secundario);
    }

}

.btn-secundario {
    @extend %btn-template;
    background-color: #fff;
    color: var(--color-principal);

    &:hover {
        background-color: #fff;
        color: var(--color-);
        border: 1px solid var(--color-secundario)
    }

    &--tarjeta {
        @extend %btn-template;
        background-color: var(--color-principal);
        color: #fff;
        border: 2px solid var(--color-principal);
        display: inline-block;
    }



}

/* --FIN ESTILOS Botones */


/* Tarjetas Cursos */

.tarjeta_curso {

    &__img {
        margin-top: 1rem;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    &__list {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        color: #fff;
        background-color: #0095ff;
        border-radius: 0px 0px 15px 15px;
        font-size: 15px;
        font-weight: 500;
    }

    &__texto {
        font-size: var(--font-size-subgeneral);
    }

}










input {
    width: 100%;
    font-size: 14px;
    padding: 20px;

}


/* Inicio CTA  */

.cta-banner {

    background-color: var(--color-cta);
    padding: 30px;
    display: flex;
    align-items: center;
}

.cta-banner .btn-principal {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.cta-banner__titulo {
    font-weight: 700;
    margin-bottom: 20px;

}

.cta-banner__texto {
    width: 90%;
}

/* ---FIN CTA-Newsletter */

/* Inicio CTA-Formulario */


.cta-leads {

    height: 350px;

    &__form input,
    select {


        font-size: var(--font-size-subgeneral);
        padding: .8rem;
        margin-bottom: 1rem;
        width: 100%;
        border-color: var(--color-secundario);
        border-radius: 10px;
        color: var(--color-principal);



    }

    &__banner {
        display: grid;
        justify-content: right;
        align-items: center;
        background: linear-gradient(to top, #060606ba, #222223cc), url(../media/slider-1.jpg);
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 23px;
        text-align: right;
        font-weight: 500;
        color: var(--color-blanco);
    }




}



/* ---FIN CTA-Formulario--- */



/* Footer */
footer .container-fluid {
    background: #242424;
}

footer .pie-footer__bg {
    background-color: #333
}

.footer {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    height: 250px;
    font-size: 14px;


    & a {
        color: #fff;


    }

    &__titulo {
        font-size: 16px;
        color: var(--color-secundario);
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__texto {
        color: #fff;
        font-weight: 400;
    }

    &__nav {
        padding: 0;
        /* Elimina el relleno predeterminado de la lista */
    }

    &__nav ul {
        list-style: none;
        /* Elimina los puntos de la lista */
        margin-bottom: 0px;
    }

    &__nav ul li {

        margin-bottom: 10px;
    }


}



.pie-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;

}


/* Fin Footer */