/* Fila Superior para Noticias y/o Avisos del Sitio */
.news-row {
    background: #f65050;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

/* FIN Fila Superior para Noticias y/o Avisos del Sitio */
