/* Tarjetas Cursos Online */

.tarjeta_curso {

    &__img {
        margin-top: 1rem;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    &__list {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        color: #fff;
        background-color: #0095ff;
        border-radius: 0px 0px 15px 15px;
        font-size: 15px;
        font-weight: 500;
    }

    &__texto {
        font-size: var(--font-size-subgeneral);
    }

}

/* FIN Tarjetas Cursos Online */
