
/* Banner Servicios Index.html */

.servicios {
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 20px;


    &__img {
        width: 100%;
        margin-bottom: 20px;
    }

    &__nombre {
        font-weight: 700;
        font-size: 20px;
    }

    &__texto {
        font-size: var(--font-size-general);
        margin-bottom: 50px;
    }

}

/* FIN Banner Servicios Index.html */
